appdirs==1.4.3
BeautifulSoup==3.2.1
binaryornot==0.4.3
cachetools==2.0.0
certifi==2017.4.17
chardet==3.0.4
click==6.7
curl-to-requests==1.0.1
Cython==0.25.2
Django==1.5.12
ez-setup==0.9
falcon==1.2.0
Flask==0.12.2
Flask-SQLAlchemy==2.2
funcsigs==1.0.2
furl==0.5.6
google-auth==1.0.1
google-auth-httplib2==0.0.2
google-cloud-core==0.25.0
google-cloud-storage==1.2.0
google-resumable-media==0.1.1
googleapis-common-protos==1.5.2
httpclient==0.0.2
httplib2==0.10.3
idna==2.5
isbinaryfile==0.0.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mercurial==4.2
mock==2.0.0
numpy==1.13.0
orderedmultidict==0.7.11
packaging==16.8
pandas==0.20.2
parse-shebang==0.0.22
pbr==3.1.1
pkginfo==1.4.1
protobuf==3.3.0
psycopg2==2.7.3.1
public==0.0.0
py==1.4.33
py3==0.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.9
PyInstaller==3.1.1
pyparsing==2.2.0
pytest==3.0.5
pytest-mock==1.5.0
python-dateutil==2.6.0
python-magic==0.4.13
python-mimeparse==1.6.0
python-Wappalyzer==0.2.2
python2==1.2
pytz==2017.2
PyYAML==3.12
qordoba==1.2.4
read==0.0.0
requests==2.5.1
requests-toolbelt==0.8.0
rsa==3.4.2
scikit-learn==0.18.2
scipy==0.19.1
setupfiles==0.0.50
shebang==0.0.0
six==1.10.0
sklearn==0.0
SQLAlchemy==1.1.14
terminaltables==3.1.0
tqdm==4.14.0
twine==1.9.1
uncurl==0.0.8
urllib3==1.21.1
virtualenv==15.1.0
Werkzeug==0.12.2
xerox==0.4.1
